<app-widget-base header="cube widget">
  <ngt-canvas [camera]="{position: [0, 0, 2]}">
    <ngt-ambient-light></ngt-ambient-light>
    <ngt-spot-light [position]="[1, 1, 1]"></ngt-spot-light>

    <ngt-mesh (animateReady)="
          $event.object.rotation.x = $event.object.rotation.x + 0.01;
          $event.object.rotation.y = $event.object.rotation.y + 0.01
        ">
      <ngt-mesh-standard-material [parameters]="{ color: 'turquoise' }"></ngt-mesh-standard-material>
      <ngt-box-geometry></ngt-box-geometry>
    </ngt-mesh>
  </ngt-canvas>
</app-widget-base>
