<div class="widget-controls">
  <h4>SIMPLE DASHBOARD</h4>
  <div class="widget-buttons">
    <button *ngFor="let type of types" (click)="add(type)">
      {{ type | titlecase }} Widget
    </button>
  </div>
</div>
<div class="widget-grid" *ngIf="widgets$ | async as widgets; else noWidgets">
  <ng-template *ngFor="let widget of widgets" [lazyWidget]="widget"></ng-template>
</div>

<ng-template #noWidgets>
  <div>
    <h3>No Widgets</h3>
    <p>Add a widget in the header above</p>
  </div>
</ng-template>
